{
    "biid":"<biid>",
    "cdomain":"<burp-collab-domain>",
    "polling-endpoint":"http://<burp-collab-polling-server-domain>/burpresults",
    "dWebhook": "https://discord.com/api/webhooks/<id>/<randomstring>"
}